{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card p-4 mt-4">
                <h2 class="card-title text-center">Login</h2>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}

                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
                        {% endif %}

                        <button type="submit" class="btn btn-primary w-100 mt-3">Login</button>
                    </form>
                    <div class="text-center mt-3">
                        <a href="{% url 'account_reset_password' %}">Forgot Password?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}